openapi: 3.0.0
info:
  title: API de Citas Médicas
  description: API para gestionar citas médicas de asegurados
  version: 1.0.0
  contact:
    name: Rimac
    email: soporte@rimac.com

servers:
  - url: https://api.rimac.com/v1
    description: Servidor de Producción
  - url: https://api-dev.rimac.com/v1
    description: Servidor de Desarrollo

paths:
  /appointments:
    post:
      summary: Crear una nueva cita médica
      description: Crea una nueva cita médica para un asegurado
      operationId: createAppointment
      tags:
        - Citas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointmentRequest'
      responses:
        '201':
          description: Cita creada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAppointmentResponse'
        '400':
          description: Datos de entrada inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /appointments/{insuredId}:
    get:
      summary: Obtener una cita médica
      description: Obtiene los detalles de una cita médica por ID de asegurado
      operationId: getAppointment
      tags:
        - Citas
      parameters:
        - name: insuredId
          in: path
          required: true
          description: ID del asegurado (5 dígitos)
          schema:
            type: string
            pattern: '^\d{5}$'
      responses:
        '200':
          description: Cita encontrada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          description: ID de asegurado inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Cita no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreateAppointmentRequest:
      type: object
      required:
        - insuredId
        - scheduleId
        - countryISO
      properties:
        insuredId:
          type: string
          pattern: '^\d{5}$'
          description: ID del asegurado (5 dígitos)
          example: '12345'
        scheduleId:
          type: integer
          description: ID del horario de la cita
          example: 456
        countryISO:
          type: string
          enum: [PE, CL]
          description: Código ISO del país
          example: 'PE'

    CreateAppointmentResponse:
      type: object
      properties:
        message:
          type: string
          example: 'Appointment created'
        appointment:
          $ref: '#/components/schemas/Appointment'

    Appointment:
      type: object
      properties:
        insuredId:
          type: string
          pattern: '^\d{5}$'
          description: ID del asegurado
          example: '12345'
        scheduleId:
          type: integer
          description: ID del horario de la cita
          example: 456
        countryISO:
          type: string
          enum: [PE, CL]
          description: Código ISO del país
          example: 'PE'
        status:
          type: string
          enum: [pending, completed]
          description: Estado de la cita
          example: 'pending'
        createdAt:
          type: string
          format: date-time
          description: Fecha y hora de creación
          example: '2024-03-12T00:00:00.000Z'

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Mensaje de error
          example: 'El ID del asegurado debe tener 5 dígitos'
        error:
          type: string
          description: Detalles del error (opcional)
          example: 'Error de base de datos' 